@tailwind base;
@tailwind components;
@tailwind utilities;




/* Root color definitions */
:root {
  --dark: #14141466;
  --lightdark: #191919;
  --purple: #703bf7;
  --background-color: white;
  --text-color: black;
}

/* Dark theme */
.darkTheme {
 background-color: var(--dark);
  color: white;
 
}

/* Light theme */
.lightTheme {
  background: rgb(112,59,247);
  background: linear-gradient(220deg, rgba(112,59,247,1) 0%, rgba(235,231,231,1) 73%);
}
.pbutton{
  background: rgb(112,59,247);
background: linear-gradient(177deg, rgba(112,59,247,1) 0%, rgba(235,231,231,1) 85%);

}
.navbarlight{
  background: rgb(112,59,247);
background: linear-gradient(177deg, rgba(112,59,247,1) 0%, rgba(235,231,231,1) 85%);
}

.purple{
  background-color: #703bf7;
}

.footer{
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 2fr 2fr 2fr; 
  

}